@model  SetupRequest
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Custom journey setup</h1>
    </div>
    <div class="text-left">
        <button type="button" class="collapsible">Show details...</button>
        <div class="content">
            <p>
                This app configures (or just displays) objects required by
                <a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=applications">Azure B2C custom journeys</a>.
            </p>
            <h3>Basic operation:</h3>
            <ol>
                <li>Enter your B2C domain name</li>
                <li>
                    You will be asked to signin. Make sure to sign in with an account with admin rights to the B2C tenant.
                        At this stage, <b>do not use an MSA
                        account to sign in</b>. Use only work/school or local (to the B2C tenant: xyz@tenant.onmicrosoft.com) account.
                </li>
                <li>
                    You will be asked to consent to a number of permissions needed to create applications, service principals and security keys in your tenant.
                    You will need to consent for the app to complete the setup.
                </li>
                <li>The application will verify existence of or create the two applications and signing/encryption keys as per above document</li>
                <li>Optionally, the application will create a dummy <em>B2C_1A_FacebookSecret</em> referenced by
                some starter policies (those supporting social identities).</li>
                <li>The application will display the names, guids and status of the objects once completed.</li>
            </ol>
        </div>
        <form asp-action="Index" asp-controller="Home">
            <label asp-for="DomainName"></label>
            <p><input asp-for="DomainName" placeholder="yourdomain" style="text-align: right" />.onmicrosoft.com</p>
            <p>
                <input asp-for="CreateDummyFacebook" />
                <label asp-for="CreateDummyFacebook"></label>
            </p>
            <p>
                <input asp-for="ValidateOnly" />
                <label asp-for="ValidateOnly"></label>
            </p>
            <input type="submit" />
        </form>
     </div>
