@model SetupState
@{
    ViewData["Title"] = "Setup results";
}

    <div class="text-center">
        <h1 class="display-4">Setup results</h1>

        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Status</th>
            </tr>
            @foreach (var d in Model.Items)
            {
                <tr>
                    <td>@d.Name</td>
                    <td>@d.Id</td>
                    <td>@d.Status</td>
                </tr>
            }
        </table>
        <p class="text-justify">The above IEF applications (resource: IdentityExperienceFramework and client: ProxyIdentityExperienceFramework) need an admin consent before 
        they can be used by IEF policies. You can provide this this consent through the <a href="https://portal.azure.com">Azure portal</a> or by
        <a href=@Model.ConsentUrl>requesting an OIDC signin to the client app.</a> You will be asked to sign in (make sure to use an admin account) and 
        then consent to the IEF client app getting a token to the resource app. You will be then redirected to a non-existent page - client app
            has no valid reply url. You can ignore that - consent has already been recorded.
        </p>

        <a href="https://github.com/mrochon/b2cief-upload">Other local desktop tools</a>
    </div>
